<div class="container">
  <h1>Welcome to URL Shortener!</h1>
  <p>Please enter URL below to shorten</p>

  <form action="/urls" method="post">
      <input type="text" name="long_url"></input>
      <input type="submit" value="Shorten!"></input>
  </form>
</div>
